HELP.md
target/
*/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
LOG_BASE_IS_UNDEFINED
*/LOG_BASE_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### other ###
bootstrap*
logs/**
*.log
src/main/resources/bootstrap-local.*
src/main/resources/bootstrap.*
/.idea/
